<h1>about me</h1>
<p>Developer with Reinteractive</p>
<br>
<h1>github</h1>
<p>tarun-pacifica</p>
<br>
<h1>twitter</h1>
<p>@zoilism</p>
<br>

<h1>UV data</h1>
<p>We obtain the latest UV index from <a href="https://www.arpansa.gov.au/services/monitoring/ultraviolet-radiation-monitoring/ultraviolet-radiation-index">ARPANSA</a></p>
<br>

<h1>graphics</h1>
All graphics hand-drawn by Lee Sheppard